@import '../variables.scss';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';


.article {
  display: flex;
  flex-wrap: wrap;

  &____wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 16px 16px 16px;
    flex: 1 1 50%;
  }

  &____text {
    max-height: 90px;
    overflow: hidden;
    margin: 0;
    font-size: $smSize;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $textBlackColor;

    &--visible {
      max-height: fit-content;
    }
  }

  &__button {
    margin-top: 5px;
  }

  &__img-wrapper {
    flex: 1 1 50%;
    display: flex;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }
}

@include tablet {
  .article {
    flex-wrap: nowrap;

    &__wrapper {
      margin: 0;
      margin-right: 46px;
    }

    &__text {
      max-height: 160px;
      line-height: 20px;

      &--visible {
        max-height: fit-content;
      }
    }
  }
}

@include desktop {
  .article__wrapper {
    max-width: 490px;
  }
}
