.card {
  width: 240px;
  height: 72px;
  background-color: #ffffff;
}
.card__link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  height: 100%;
  opacity: 1;
}
.card__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .card {
    width: 30%;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 1366px) {
  .card {
    width: 23%;
  }
}