@import '../variables.scss';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.card {
  width: 240px;
  height: 72px;
  background-color: $bgWhiteColor;

  &__link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border: 1px solid $borderCardColor;
    border-radius: 6px;
    height: 100%;
    opacity: 1;

    &:hover {
      opacity: 0.5;
    }
  }
}

@include tablet {
  .card {
    width: 30%;
    background-color: #ffffff;
  }
}

@include desktop {
  .card {
    width: 23%;
  }
}
