@import '../variables.scss';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.catalog {
  display: flex;
  flex-direction: column;

  &__subtitle {
    margin-bottom: 16px;
  }

  &__button--hidden {
    display: none;
  }
}

.cards {
  display: flex;

  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 81px;
    position: fixed;
    right: 0;
    z-index: 10;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}

@include tablet {
  .catalog__subtitle {
    margin-bottom: 24px;
  }

  .cards {
    padding: 0 24px;
    flex-direction: column;

    &::after {
      display: none;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      max-height: 160px;
      overflow: hidden;
      gap: 16px 24px;

      &--visible {
        max-height: fit-content;
      }
    }

    &__button {
      display: flex;
      margin-top: 24px;
      margin-left: 32px;
    }
  }
}
