.catalog {
  display: flex;
  flex-direction: column;
}
.catalog__subtitle {
  margin-bottom: 16px;
}
.catalog__button--hidden {
  display: none;
}

.cards {
  display: flex;
}
.cards::after {
  content: "";
  display: block;
  width: 24px;
  height: 81px;
  position: fixed;
  right: 0;
  z-index: 10;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

@media screen and (min-width: 768px) {
  .catalog__subtitle {
    margin-bottom: 24px;
  }

  .cards {
    padding: 0 24px;
    flex-direction: column;
  }
  .cards::after {
    display: none;
  }
  .cards__items {
    display: flex;
    flex-wrap: wrap;
    max-height: 160px;
    overflow: hidden;
    gap: 16px 24px;
  }
  .cards__items--visible {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .cards__button {
    display: flex;
    margin-top: 24px;
    margin-left: 32px;
  }
}