.collapse-button {
  display: flex;
  align-items: center;
  outline: none;
  padding: 0;
  border: 0;
  background-color: inherit;
}
.collapse-button__img {
  margin-right: 16px;
  transform: rotate(0);
}
.collapse-button__img--activated {
  transform: rotate(180deg);
}
.collapse-button__title {
  display: block;
  opacity: 1;
}
.collapse-button__title--activated {
  display: none;
}

.button-title {
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  opacity: 0.5;
}