@import '../variables.scss';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.collapse-button {
  display: flex;
  align-items: center;
  outline: none;
  padding: 0;
  border: 0;
  background-color: inherit;

  &__img {
    margin-right: 16px;
    transform: rotate(0);

    &--activated {
      transform: rotate(180deg);
    }
  }

  &__title {
    display: block;
    opacity: 1;

    &--activated {
      display: none;
    }
  }
}

.button-title {
  font-size: $mdSize;
  line-height: 24px;
  white-space: nowrap;
  opacity: 0.5;
}
