.langs {
  display: flex;
}
.langs__link {
  outline: none;
  text-decoration: none;
  color: #1b1c21;
  margin-right: 7px;
}
.langs__link:last-of-type {
  margin-right: 0;
}
.langs__link--active, .langs__link:hover {
  opacity: 0.5;
}