@import '../variables.scss';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.nav {
  width: 100%;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    &:hover {
      opacity: 0.5;
    }

    &--disabled {
      &:hover {
        opacity: 1;
      }
    }
  }

  &__text {
    &--hidden {
      display: none;
    }
  }
}
