@import '../variables.scss';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.header {
  display: flex;
  background-color: $bgWhiteColor;
  border-bottom: 1px solid $borderPageColor;
  max-height: 88px;
  padding: 0 16px;

  &__item--hidden {
    &:nth-of-type(n + 3):nth-of-type(-n + 5) {
      display: none;
    }

    &:nth-of-type(2) {
      margin-right: auto;
    }

    &:nth-child(6)::before {
      content: '';
      display: block;
      height: 32px;
      width: 2px;
      margin: 28px 20px 27px 0;
      background-image: url('../../img/divider.png');
    }
  }
}

@include tablet {
  .header {
    padding: 0 40px 0 24px;

    &__item {
      &:first-child {
        &::after {
          content: '';
          display: block;
          height: 32px;
          width: 2px;
          margin: 28px 0 27px 20px;
          background-image: url('../../img/divider.png');
        }
      }

      &:nth-child(6) {
        &::before {
          margin-left: 20px;
        }
      }

      &--hidden {
        &:nth-of-type(n + 3):nth-of-type(-n + 5) {
          display: flex;
        }

        &:nth-of-type(5) {
          margin: 0;
        }
      }
    }
  }
}

@include desktop {
  .header--hidden {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 42px;
    padding-right: 32px;
  }

  .header__item {
    &:nth-child(6)::before {
      display: none;
    }

    &--hidden {
      display: none;
    }

    &:last-of-type,
    &:nth-last-of-type(2) {
      visibility: visible;
    }
  }
}
