.page-nav {
  display: flex;
}
.page-nav__list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  list-style: none;
  overflow: scroll;
  gap: 3px 5px;
}
.page-nav__item {
  display: flex;
}
.page-nav__link {
  padding: 8px 9.38px 8px 16.67px;
  outline: none;
  text-decoration: none;
  border: 2px solid transparent;
  color: #7e7e82;
  font-size: 16px;
}
.page-nav__link--active, .page-nav__link:hover {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 6px;
}

@media screen and (min-width: 1366px) {
  .page-nav__list {
    flex-wrap: wrap;
    overflow: visible;
  }
}