.subtitle {
  display: flex;
  padding: 16px 0 16px 16px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
}
.subtitle__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
}

@media screen and (min-width: 768px) {
  .subtitle {
    padding-left: 24px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }
}
@media screen and (min-width: 1366px) {
  .subtitle {
    padding-left: 32px;
  }
}