@import '../variables.scss';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.subtitle {
  display: flex;
  padding: 16px 0 16px 16px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);

  &__text {
    margin: 0;
    font-size: $mdSize;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $textGreyColor;
  }
}

@include tablet {
  .subtitle {
    padding-left: 24px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }
}

@include desktop {
  .subtitle {
    padding-left: 32px;
  }
}
