.swiper {
  width: 100vw;
  height: 100px;
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

@media screen and (min-width: 768px) {
  .swiper {
    width: auto;
    height: auto;
  }
  .swiper-pagination {
    display: none;
  }
}