@import '../variables.scss';
@import '../mixins/reset-list.scss';
@import '../mixins/media_breakpoints.scss';

.swiper {
  width: 100vw;
  height: 100px;

  &-pagination {
    bottom: 0 !important;

    &-bullet {
      width: 12px;
      height: 12px;
      background-color: #dddddd;

      &-active {
        background-color: #b5b6bc;
      }
    }
  }
}

@include tablet {
  .swiper {
    width: auto;
    height: auto;

    &-pagination {
      display: none;
    }
  }
}
