.title {
  display: flex;
  width: 100%;
}
.title__text {
  display: flex;
  margin: 0;
  margin-right: auto;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}
.title__text::before {
  content: "";
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: 4px;
  margin-right: 12px;
  background-image: url("../img/highlight.png");
}