@import '~normalize.css';
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Bold.eot");
  src: url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.nav__item:last-of-type {
  margin-right: 0;
}
.nav__link:hover {
  opacity: 0.5;
}
.nav__link--disabled:hover {
  opacity: 1;
}
.nav__text--hidden {
  display: none;
}

.page-nav {
  display: flex;
}
.page-nav__list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  list-style: none;
  overflow: scroll;
  gap: 3px 5px;
}
.page-nav__item {
  display: flex;
}
.page-nav__link {
  padding: 8px 9.38px 8px 16.67px;
  outline: none;
  text-decoration: none;
  border: 2px solid transparent;
  color: #7e7e82;
  font-size: 16px;
}
.page-nav__link--active, .page-nav__link:hover {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 6px;
}

@media screen and (min-width: 1366px) {
  .page-nav__list {
    flex-wrap: wrap;
    overflow: visible;
  }
}
.collapse-button {
  display: flex;
  align-items: center;
  outline: none;
  padding: 0;
  border: 0;
  background-color: inherit;
}
.collapse-button__img {
  margin-right: 16px;
  transform: rotate(0);
}
.collapse-button__img--activated {
  transform: rotate(180deg);
}
.collapse-button__title {
  display: block;
  opacity: 1;
}
.collapse-button__title--activated {
  display: none;
}

.button-title {
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  opacity: 0.5;
}

.header {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
  max-height: 88px;
  padding: 0 16px;
}
.header__item--hidden:nth-of-type(n + 3):nth-of-type(-n + 5) {
  display: none;
}
.header__item--hidden:nth-of-type(2) {
  margin-right: auto;
}
.header__item--hidden:nth-child(6)::before {
  content: "";
  display: block;
  height: 32px;
  width: 2px;
  margin: 28px 20px 27px 0;
  background-image: url("../../img/divider.png");
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 40px 0 24px;
  }
  .header__item:first-child::after {
    content: "";
    display: block;
    height: 32px;
    width: 2px;
    margin: 28px 0 27px 20px;
    background-image: url("../../img/divider.png");
  }
  .header__item:nth-child(6)::before {
    margin-left: 20px;
  }
  .header__item--hidden:nth-of-type(n + 3):nth-of-type(-n + 5) {
    display: flex;
  }
  .header__item--hidden:nth-of-type(5) {
    margin: 0;
  }
}
@media screen and (min-width: 1366px) {
  .header--hidden {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 42px;
    padding-right: 32px;
  }

  .header__item:nth-child(6)::before {
    display: none;
  }
  .header__item--hidden {
    display: none;
  }
  .header__item:last-of-type, .header__item:nth-last-of-type(2) {
    visibility: visible;
  }
}
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 4;
  display: flex;
  flex-direction: column;
  padding: 19px 24px 32px 24px;
  background-color: #ffffff;
  box-shadow: 5px 0 30px 5px #cccbcb, 5px 0 0 1046px rgba(255, 255, 255, 0.9);
}
.menu--hidden {
  display: none;
}
.menu__header {
  margin-bottom: 46.5px;
}
.menu__menu-nav {
  margin-bottom: auto;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-header__item:nth-of-type(2) {
  margin-right: auto;
}

.menu-nav {
  width: 100%;
}
.menu-nav__list {
  display: flex;
  flex-direction: column;
}
.menu-nav__item {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}
.menu-nav__link {
  display: flex;
  align-items: center;
  min-height: 32px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.menu-nav__link:hover {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 0;
}
.menu-nav__link:hover::before {
  content: "";
  display: inline-flex;
  align-items: center;
  height: 32px;
  width: 4px;
  margin-left: -24px;
  margin-right: 20px;
  background-image: url("../img/highlight.png");
}
.menu-nav__link--active {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 0;
}
.menu-nav__link--active::before {
  content: "";
  display: inline-flex;
  align-items: center;
  height: 32px;
  width: 4px;
  margin-left: -24px;
  margin-right: 20px;
  background-image: url("../img/highlight.png");
}
.menu-nav__contacts {
  margin-top: 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 361px) {
  .menu {
    width: 320px;
  }
}
@media screen and (min-width: 1366px) {
  .page__menu--hidden {
    display: flex;
  }

  .menu {
    box-shadow: none;
  }
}
.article {
  display: flex;
  flex-wrap: wrap;
}
.article____wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 16px;
  flex: 1 1 50%;
}
.article____text {
  max-height: 90px;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}
.article____text--visible {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.article__button {
  margin-top: 5px;
}
.article__img-wrapper {
  flex: 1 1 50%;
  display: flex;
}
.article__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .article {
    flex-wrap: nowrap;
  }
  .article__wrapper {
    margin: 0;
    margin-right: 46px;
  }
  .article__text {
    max-height: 160px;
    line-height: 20px;
  }
  .article__text--visible {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@media screen and (min-width: 1366px) {
  .article__wrapper {
    max-width: 490px;
  }
}
.catalog {
  display: flex;
  flex-direction: column;
}
.catalog__subtitle {
  margin-bottom: 16px;
}
.catalog__button--hidden {
  display: none;
}

.cards {
  display: flex;
}
.cards::after {
  content: "";
  display: block;
  width: 24px;
  height: 81px;
  position: fixed;
  right: 0;
  z-index: 10;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

@media screen and (min-width: 768px) {
  .catalog__subtitle {
    margin-bottom: 24px;
  }

  .cards {
    padding: 0 24px;
    flex-direction: column;
  }
  .cards::after {
    display: none;
  }
  .cards__items {
    display: flex;
    flex-wrap: wrap;
    max-height: 160px;
    overflow: hidden;
    gap: 16px 24px;
  }
  .cards__items--visible {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .cards__button {
    display: flex;
    margin-top: 24px;
    margin-left: 32px;
  }
}
.subtitle {
  display: flex;
  padding: 16px 0 16px 16px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
}
.subtitle__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
}

@media screen and (min-width: 768px) {
  .subtitle {
    padding-left: 24px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }
}
@media screen and (min-width: 1366px) {
  .subtitle {
    padding-left: 32px;
  }
}
.title {
  display: flex;
  width: 100%;
}
.title__text {
  display: flex;
  margin: 0;
  margin-right: auto;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}
.title__text::before {
  content: "";
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: 4px;
  margin-right: 12px;
  background-image: url("../img/highlight.png");
}

.card {
  width: 240px;
  height: 72px;
  background-color: #ffffff;
}
.card__link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  height: 100%;
  opacity: 1;
}
.card__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .card {
    width: 30%;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 1366px) {
  .card {
    width: 23%;
  }
}
.swiper {
  width: 100vw;
  height: 100px;
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

@media screen and (min-width: 768px) {
  .swiper {
    width: auto;
    height: auto;
  }
  .swiper-pagination {
    display: none;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
}
.contacts__link {
  outline: none;
  text-decoration: none;
  color: #1b1c21;
  margin-bottom: 12px;
}
.contacts__link:hover {
  opacity: 0.5;
}
.contacts__link:last-of-type {
  margin-bottom: 0;
}

.link-mail {
  line-height: 24px;
  letter-spacing: -0.2px;
}
.link-tell {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.langs {
  display: flex;
}
.langs__link {
  outline: none;
  text-decoration: none;
  color: #1b1c21;
  margin-right: 7px;
}
.langs__link:last-of-type {
  margin-right: 0;
}
.langs__link--active, .langs__link:hover {
  opacity: 0.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  background-color: #f8f8f8;
  font-family: "TT Lakes", sans-serif;
}
.page__header {
  margin-bottom: 24px;
}
.page__content {
  display: flex;
  flex-direction: column;
}
.page__title {
  margin-bottom: 24px;
  margin-top: 0;
}

.main__nav {
  margin: 0 16px 24px 16px;
}

@media screen and (min-width: 768px) {
  .main__title {
    margin-bottom: 32px;
  }
  .main__nav {
    margin: 0 16px 32px 24px;
  }
  .main__article {
    margin-left: 24px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1366px) {
  .nav__link {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    margin-right: 8px;
  }
  .nav____link {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    margin-right: 8px;
  }

  .main__content {
    position: absolute;
    left: 320px;
  }
  .main__title {
    margin-top: 42px;
  }
  .main__nav {
    margin-bottom: 19px;
  }
  .main__article {
    margin-bottom: 30px;
  }
}