$bgGreyColor: #f8f8f8;
$bgWhiteColor: #ffffff;
$borderPageColor: #d9fff5;
$borderCardColor: rgba(234, 234, 234, 1);
$textBlackColor: #1b1c21;
$textGreyColor: #7e7e82;
$pageNavBorderColor: #b8ffec;
$bgSize: 28px;
$mdSize: 16px;
$smSize: 14px;
$small: 768px;
$breakpoint__xl: 1366px;
$breakpoint__md: 768px;
$breakpoint__sm: 361px;
